.cards{
    width: 880px;
    margin: 71px 200px 67px;
    display: grid;
    grid-template-columns: repeat(3, 282px);
    grid-template-rows: repeat(2, 282px);
    grid-gap: 17px;
    row-gap: 100px;
    
}
.card{
    width: 282px;
    margin-bottom: 100px;
}


@media screen and (max-width: 868px){
    .cards{
        width: 300px ;
        margin-left: 120px;
        grid-template-columns: repeat(2, 250px);
        grid-template-rows: repeat(3, 381px);
        grid-gap: 100px;
        row-gap: 20px;
    }
}

@media screen and (min-width: 870px) and (max-width: 1279px){
   .cards{ 
        grid-template-columns: repeat(2, 282px);
        grid-template-rows: repeat(3, 381px); 
    }
}

@media screen and (max-width: 768px){
    .cards{
        width: 300px;
        margin-left: 70px;
        grid-template-columns: repeat(2, 282px);
        grid-template-rows: repeat(3, 381px);
        grid-gap: 50px;
        row-gap: 10px;
    }
}

@media screen and (max-width: 550px){
    .cards{
        margin-top: 300px;
        margin-left: 150px;
        width: 300px;
        grid-template-columns: repeat(1, 150px);
        grid-template-rows: repeat(6, 200px);
        row-gap: 180px;
    }
}

@media screen and (max-width: 320px){
    .cards{
        width: 300px;
        margin-top: 300px;
        margin-left: 20px;
        grid-template-columns: repeat(1, 282px);
        grid-template-rows: repeat(6, 361px);
        grid-gap: 20px;
    }

}

