.cards{
   width: 880px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.card{
  width: 282px;
  margin-bottom: 20px;
}

@media screen and (max-width: 890px){
    .cards{
        width: 90%;
        max-width: 700px;
        justify-content: space-around;
        margin: 0 auto;
        
    }
}

@media screen and (max-width: 640px){
    .card{
        padding-right: 30px
    }

}

@media screen and (max-width: 570px){
    .cards{
        min-width: 300px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;

    }
}


/*

}

@media screen and (max-width: 550px){
    .cards{
        margin-top: 300px;
        margin-left: 150px;
        width: 300px;
        grid-template-columns: repeat(1, 150px);
        grid-template-rows: repeat(6, 200px);
        row-gap: 180px;
    }
}

@media screen and (max-width: 320px){
    .cards{
        width: 300px;
        margin-top: 300px;
        margin-left: 20px;
        grid-template-columns: repeat(1, 282px);
        grid-template-rows: repeat(6, 361px);
        grid-gap: 20px;
    }

}

*/