.popup{
    width: 430px;
    background-color: #fff;
    color: #000;
    margin: 0 auto;
    border-radius: 15px;
    z-index: 2;
    position: fixed;
    left: 100px;
    right: 100px;
    top: 150px;
}

@media screen and (max-width: 320px){
    .popup{
        width: 282px;
        position: fixed;
        left: 10px;
        right: 800px;
    }
}