.popup{
    width: 430px;
    margin: 0 auto;
    z-index: 1;
    position: fixed;
    left: 100px;
    right: 100px;
    top: 150px;

}

@media screen and (max-width: 540px){
    .popup{
        max-width: 400px;
        position: fixed;
    }
}

@media screen and (max-width: 320px){
    .popup{
        max-width: 282px;
        position: fixed;
        left: 10px;
        right: 800px;
        
    }
}