.profile__person{
    display: flex;
    align-items: baseline;
    gap: 20px;
}

@media screen and (max-width: 670px){
    .profile__person{
        align-items: center;
        gap: 5px;
        
    }
}