.popup__container{
    margin: 0 auto;
    display: none ;
    height: 330px;
}

.popup__overlay{
    background-color: #000;
    opacity: 50%;
    position: fixed;
    z-index: 1;
    width: 1280px;
}