.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 40px auto;
    z-index: 1;
}

@media screen and (max-width: 890px){
    .profile{
        min-width: 90%;
    }
}

@media screen and (max-width: 670px){
    .profile{
        justify-content: center;
        flex-direction: column;
        
    }
}

@media screen and (max-width: 540px){
    .profile{
        width:300px ;
    }
}