.card__rectangle {
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    width: 282px;
    position: relative;
    bottom: 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
