.save-button{
    border: none;
    width: 358px;
    height: 50px;
    background-color: #000;
    color: #fff;
    margin: 10px 36px 30px 36px;
}

.save-button:hover{
    opacity: 80%;
    cursor: pointer;
}

.save-button-unable{
    background-color: #fff;
    color: #000;
    opacity: 0.5;
}

@media screen and (max-width: 540px){
    .save-button{
        width: 340px;
    }
}
@media screen and (max-width:320px){
    .save-button{
        width: 200px;
    }
}