.save-button{
    border: none;
    width: 358px;
    height: 50px;
    background-color: #000;
    color: #fff;
    margin: 10px 36px 30px 36px;
}

.save-button:hover{
    opacity: 80%;
    cursor: pointer;
}

.save-button-disabled{
    background-color: #fff;
    border: 1px solid #acacac;
    color: #acacac;
}

.save-button-disabled:hover{
    cursor: default;
    opacity: 100%;
}

@media screen and (max-width: 540px){
    .save-button{
        width: 340px;
    }
}
@media screen and (max-width:320px){
    .save-button{
        width: 200px;
    }
}