.popup__container-card{
    margin: 0 auto;
    display: none;
    height: 330px;
    z-index: 1;
    background-color: #fff;
    color: #000;
    border-radius: 15px;
}

.popup__container-card-active{
    display: block;
    z-index: 1;
    animation: smooth 0.5s ease-in-out;
}