.edit__button{
    width: 24px;
}

.edit__button:hover{
    opacity: 50%;
    cursor: pointer;
}

/*
@media screen and (max-width: 868px){
    .edit__button{
        position: relative;
        left: 100px;
        top: 40px;
    }
}

@media screen and (max-width: 768px){
    .edit__button{
        position: relative;
        top: 35px;
        left: 50px;
    }
}

@media screen and (min-width: 870px) and (max-width: 1279px){
    .edit__button{
        position: relative;
        top: 5px;
    }
}


@media screen and (max-width: 550px){
    .edit__button{
        position: relative;
        top: 280px;
        left: -280px;
    }
}

@media screen and (max-width:320px){
    .edit__button{
        position: relative;
        left: -120px;
        top: 300px;

    }
}*/