.edit__button{
    width: 24px;
    position: relative;
    left: 200px;
    top: 20px;
}

.edit__button:hover{
    opacity: 50%;
    cursor: pointer;
}

@media screen and (max-width: 868px){
    .edit__button{
        position: relative;
        left: 100px;
        top: 40px;
    }
}

@media screen and (max-width: 768px){
    .edit__button{
        position: relative;
        top: 35px;
        left: 50px;
    }
}

@media screen and (max-width: 550px){
    .edit__button{
        position: relative;
        left: -100px;
        top: 50px;
    }
}
@media screen and (max-width:320px){
    .edit__button{
        position: relative;
        left: -120px;
        top: 250px;

    }
}