.card__place {
    color: #000000;
    font-weight: 900;
    font-size: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 10px;
}

.card-place-expanded {
    text-align: center;
    color: white;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 300;
  }
  