.profile__name{
    position: relative;
    left: 230px;
    bottom: 50px;
    width: 372px;
    font-size: 42px;
    font-weight: 500;
}

@media screen and (max-width: 768px){
    .profile__name{
        position: relative;
        left: 50px;
        padding-top: 20px;
    }
}

@media screen and (max-width:320px) {
    .profile__name{
        position: relative;
        left: -130px;
        top: 150px;
        width: 196px;
        font-size: 22px;
    }
    
}