.profile__name{
    font-size: 42px;
    font-weight: 500;
}

@media screen and (max-width: 890px){
    .profile__name{
        font-size: 30px;
    }
}

@media screen and (max-width: 670px){
    .profile__name{
        font-size: 25px;
        align-items: center;
       
    
     
    }
}
