.add__button{
    width: 150px;
    position: relative;
    right: 5px;
}

.add__button:hover{
    opacity: 50%;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .add__button{
        position: relative;
        top: 100px;
        right: 300px;
    }
}

@media screen and (max-width:320px){
    .add__button{
        position: relative;
        left: -380px;
        top: 300px;
    }
}