.add__button{
    width: 150px;
    margin-bottom: 50px;
 
}

.add__button:hover{
    opacity: 50%;
    cursor: pointer;
}
@media screen and (max-width: 740px){
    .add__button{
        margin-right: 20px;
    }
}
@media screen and (max-width: 670px){
    .add__button{
        margin: 0;
    
    }
}

/*
@media screen and (max-width: 868px){
    .add__button{
        position: absolute;
        top: 270px;
        right: 350px;
    }
}
@media screen and (max-width: 768px){
    .add__button{
        position: relative;
        top: 100px;
        right: 250px;
    }
}

@media screen and (min-width: 870px) and (max-width: 1279px){
    .add__button{
        position: relative;
        top: 150px;
       
    }
}

@media screen and (max-width: 550px){
    .add__button{
        position: relative;
        top: 350px;
        right: 550px;

    }
}

@media screen and (max-width:320px){
    .add__button{
        position: relative;
        left: -310px;
        top: 350px;
    }
}*/