.like__button{
    margin-right: 15px;
    transition: transform 0.2s ease-in-out;
}

.like__button:hover{
    opacity: 50%;
    transform: scale(1.2);
    cursor: pointer;
}

.like__button-active {
    background-image: url(../../../images/heart-active.png);  
}