.input__close-button{
    width: 20px;
    position: absolute;
    left: 440px;
    bottom: 350px;
}

.input__close-button:hover{
    opacity: 50%;
    cursor: pointer;
}


@media screen and (max-width: 540px){
    .input__close-button{
        position: absolute;
        left: 400px;
    }
}

@media screen and (max-width:320px){
    .input__close-button{
        position: absolute;
        top: 10px;
        left: 290px;
    }
}