.profile__picture{
    position: relative;
    left: 177px;
    width: 168px;
    border-radius: 50%;
}

@media screen and (max-width: 320px){
    .profile__picture{
        position: relative;
        top: 30px;
        left: 60px;
    }
    
}