.edit__button{
    width: 24px;
    position: relative;
    right: 100px;
}

.edit__button:hover{
    opacity: 50%;
    cursor: pointer;
}

.add__button{
    width: 150px;
    position: relative;
    right: 5px;
}

.add__button:hover{
    opacity: 50%;
    cursor: pointer;
}

@media screen and (max-width:320px){
    .add__button{
        position: relative;
        left: -380px;
        top: 300px;
    }

    .edit__button{
        position: relative;
        left: -200px;
        top: 220px;

    }
}

