.popup__container-photo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    height: 0;
    overflow: hidden;
}

.popup__container-photo-opened {
    display: flex;
    opacity: 1;
    height: 100%;
    transition: opacity 0.3s ease, height 0s ease;
  }
  