.profile__about{
    display: flex;
    column-gap: 10px;
    flex-direction: column;
    justify-content: center;
    position: relative;
    right: 150px;
    width: 300px;
    font-size: 18px;
    font-weight: 400;
}

@media  screen and (max-width:320px) {
    .profile__about{
        position: relative;
        left: -270px;
        top: 200px;
        font-size: 14px;
    }
    
}
