.profile__about{
    width: 300px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 10px;
}

@media screen and (max-width: 670px){
    .profile__about{
        font-size: 15px;
        margin-left: 270px;
    }
}

@media screen and (max-width: 570px){
    .profile__about{
        margin-left: 250px;
    }
}




