/*------------------------------------------------------------*/

.popup{
    width: 430px;
    background-color: #fff;
    color: #000;
    margin: 0 auto;
    border-radius: 15px;
}

.popup__container{
    margin: 0 auto;
    display: none ;
}

.input__title{
    font-weight: 900;
    font-size: 24px;
    line-height: 100%;
    padding:34px 64px 54px 36px;    
}

.input__info{
    margin: 30px 36px 54px 20px;
}

.input__info_text{
    background-color: transparent;
    border: none;
    text-align: center;
}

.input__save__button{
    border: none;
    width: 358px;
    height: 50px;
    background-color: #000;
    color: #fff;
    margin: 30px 36px 36px 36px;
}

.input__save__button:hover{
    opacity: 80%;
    cursor: pointer;
}

.input__line{
    max-width: 358px;
}

.input__close__icon{
    width: 20px;
    position: absolute;
    right: 450px;
    bottom: 450px;
}

.input__close__icon:hover{
    opacity: 50%;
    cursor: pointer;
}