.header__icon{
    width: 173px;
    margin-bottom: 40px;
}

@media screen and (max-width: 890px){
    .header__icon{
        margin-left: 30px;
    }
}
/*
@media screen and (max-width: 868px){
    .header__icon{
        margin-left: 80px;
    }
}
@media screen and (max-width: 768px){
    .header__icon{
        margin-left: 60px;
    }
}
@media screen and (max-width:320px){
    .header__icon{
        margin-left: 27px;
    }

}*/

